html, body {
  width: 500px;
}

.hidden {
  display: none;
}

.search-field {
    width: 100%;
}

#tabs-list {
    list-style-type: none;
    margin-left: -35px;
    margin-right: 5px;
}

.switch-tabs {
  margin-left: 5px;
  margin-bottom: 10px;
}

.lang-icon {
    width: 12px;
    height:12px;
}